<!DOCTYPE html>
<html>
  <head>
    <title>Commenting System</title>
    <link rel="stylesheet" href="/assets/style.css"/>
  </head>
  <body>
    <div>
      <h1>Commenting System Dashboard</h1>
      {{range .sections}}
        <div class="section">
          <h2>{{.Name}}</h2>
          {{.HTML}}
        </div>
      {{end}}
    </div>
  </body>
</html>