<!DOCTYPE html>
<html>
  <head>
    <title>IndieAuth</title>
    <link rel="stylesheet" href="/assets/style.css"/>
  </head>
  <body>
    <div>
      <h1>IndieAuth Authorization</h1>
      <h2>App Info</h2>
      <div style="display: flex; gap: 2rem;">
        <div>
          {{if .AppInfo.Logo}}
            <img src="{{.AppInfo.Logo}}" width="100px" alt="App Icon"/>
          {{end}}
        </div>
        <div>
          <p>
            <strong>App Name:</strong> {{.AppInfo.Name}}
          </p>
          <p>
            <strong>App URL:</strong> <a href="{{.AppInfo.ClientId}}">{{.AppInfo.ClientId}}</a>
          </p>
          {{if .AppInfo.Author}}
            <p>
              <strong>Author:</strong> {{.AppInfo.Author}}
            </p>
          {{end}}
          {{if .AppInfo.Summary}}
            <p>
              {{.AppInfo.Summary}}
            </p>
          {{end}}
          {{if .Scopes}}
            <p>
              <strong>Requested Scopes:</strong> 
              <ul>
              {{range .Scopes}}
                <li>{{.}}</li>
              {{end}}
              </ul>
            </p>
          {{end}}
        </div>
      </div>
      {{if .Warnings}}
        <h2>Warnings</h2>
        <div>
          <ul>
          {{range .Warnings}}
            <li>{{.}}</li>
          {{end}}
          </ul>
        </div>
      {{end}}
      <h2>Grant Access</h2>
      <form name="IndieAuth Login" action="/indieauth/login" method="POST">
        <input type="hidden" name="code" value="{{.Code}}"/>
        {{range .Scopes}}
          <input type="checkbox" name="scope-{{.}}" id="scope-{{.}}" value="true" checked/>
          <label for="scope-{{.}}">Scope {{.}}</label>
        {{end}}
        <br/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Login"/>
      </form>
    </div>
  </body>
</html>