<!DOCTYPE html>
<html>
  <head>
    <title>Commenting System</title>
    <link rel="stylesheet" href="/assets/style.css"/>
    <link rel="indieauth-metadata" href="/indieauth/metadata" />
    <link rel="authorization_endpoint" href="/indieauth/authorize" />
    <link rel="token_endpoint" href="/indieauth/token" />
    <link rel="microsub" href="https://aperture.p3k.io/microsub/800">
  </head>
  <body>
    <h1>Commenting System</h1>
    <p>This is the root of the commenting system api. There is nothing much to see here.</p>
    <p>Learn more about this project on <a href="https://github.com/Tiim/go-comment-api">Tiim/go-comment-api</a>.</p>
    <h2>Admin</h2>
    <p>
      <a href="/admin">Admin</a>
    </p>
  </body>
</html>